<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget dictum lacus. Nullam in neque sit amet arcu interdum scelerisque.
        </p>
        <button class="btn btn-primary btn-lg">Button</button>
    </div>
</div>