@model Course

<div class="row">
    <div class="col-md-4" id="@Model.Id">
        <img src="~/img/@Model.Image" class="img-fluid rounded-start" alt="">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>